li:not(.prose *) {
    list-style-type: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* NeoBot Open Ticket Animation */

.jumpIn {
    animation: x 2s linear infinite, y 2s infinite cubic-bezier(0, -1, 1, -3);
}

@keyframes x {
    50%,
    100% {
        left: 110px;
    }
}
@keyframes y {
    50%,
    100% {
        top: 60px;
    }
}

.red-flicker-fix {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

/* Remove input type number arrow */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
}

/* Custom Scrollbar */

.custom-scroll::-webkit-scrollbar {
    @apply border-neo-bg-A;
    width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-neo-light-grey;
    border-radius: 10px;
}

.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
