/*ClassName DatePicker*/

.bg-custom-date-picker {
    @apply bg-neo-stats-black p-2 rounded-xl border-0 text-white !important;
}
.react-datepicker-popper {
    @apply z-[11] !important;
}
.react-datepicker__header {
    @apply border-0 bg-transparent p-0 !important;
}
.react-datepicker__day {
    @apply text-neo-link hover:bg-neo-blue hover:text-white !important;
}
.react-datepicker__day-name {
    @apply text-neo-stats-grey uppercase font-bold text-xs !important;
}
.react-datepicker__day--selected {
    @apply bg-neo-blue text-white font-bold !important;
}
.react-datepicker__month-text {
    @apply hover:bg-neo-blue px-4 py-3 mx-1 text-neo-link hover:text-white !important;
}
.react-datepicker__month-text--keyboard-selected {
    @apply bg-neo-blue px-4 py-3 mx-1 text-white !important;
}
.react-datepicker__triangle {
    @apply translate-x-32 !important;
}
.react-datepicker__day--disabled {
    @apply opacity-50 !important;
}
.react-datepicker__month--disabled {
    @apply opacity-50 !important;
}
.react-datepicker__day--range-end {
    @apply bg-neo-blue text-white !important;
}
.react-datepicker__time-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 165px !important;
    @apply mt-2 !important;
}

.react-datepicker__time-list::-webkit-scrollbar {
    display: none;
}

.react-datepicker-time__header {
    @apply text-white !important;
}
.react-datepicker__time-list-item {
    @apply text-xs flex items-center justify-center hover:bg-neo-blue hover:text-white hover:font-bold rounded !important;
}
.react-datepicker__time-list-item--selected {
    @apply bg-neo-blue rounded !important;
}
.react-datepicker__time-list-item--disabled {
    @apply text-neo-stats-grey hover:text-black hover:bg-neo-settings-lightGrey !important;
}
.react-datepicker__time-container {
    @apply border-none !important;
}
.react-datepicker__time {
    @apply bg-transparent text-neo-link !important;
}
