@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.niveauGrotesk {
    font-family: "Niveau Grotesk Bold" !important;
}

@font-face {
    font-family: "Niveau Grotesk Bold";
    src: url("../font/NiveauGrotesk/30527d34912d15cde13bea7b1fcea1e8.eot"); /* IE9*/
    src: url("../font/NiveauGrotesk/30527d34912d15cde13bea7b1fcea1e8.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../font/NiveauGrotesk/30527d34912d15cde13bea7b1fcea1e8.woff2") format("woff2"),
        /* chrome、firefox */ url("../font/NiveauGrotesk/30527d34912d15cde13bea7b1fcea1e8.woff") format("woff"),
        /* chrome、firefox */ url("../font/NiveauGrotesk/30527d34912d15cde13bea7b1fcea1e8.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("../font/NiveauGrotesk/30527d34912d15cde13bea7b1fcea1e8.svg#Niveau Grotesk Bold") format("svg"); /* iOS 4.1- */
}

.inter {
    font-family: "Inter" !important;
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter/inter-variablefont_slntwght-webfont.eot"); /* IE9*/
    src: url("../font/Inter/inter-variablefont_slntwght-webfont.woff2") format("woff2"),
        /* chrome、firefox */ url("../font/Inter/inter-variablefont_slntwght-webfont.woff") format("woff"),
        /* chrome、firefox */ url("../font/Inter/inter-variablefont_slntwght-webfont.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("../font/Inter/inter-variablefont_slntwght-webfont.svg") format("svg"); /* iOS 4.1- */
}

/* controle yx grid for ticket */
.translate-x-23 {
    --tw-translate-x: 90px !important;
}

.scale-120 {
    --tw-scale-x: 1.25 !important;
    --tw-scale-y: 1.25 !important;
}

.scale-73 {
    --tw-scale-x: 0.73 !important;
    --tw-scale-y: 0.73 !important;
}
