@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* controle yx grid for ticket */
.translate-x-23 {
    --tw-translate-x: 90px !important;
}

.scale-120 {
    --tw-scale-x: 1.25 !important;
    --tw-scale-y: 1.25 !important;
}

.scale-73 {
    --tw-scale-x: 0.73 !important;
    --tw-scale-y: 0.73 !important;
}
