.quill {
    height: 100% !important;
    width: 100% !important;
}
.ql-toolbar {
    border: none !important;
    border-bottom: 1px solid #0f283f !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: #0e3864 !important;
    height: 15% !important;
}
.ql-container {
    border: none !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: #0e3864 !important;
    color: aliceblue !important;
    overflow-y: scroll !important;
    scrollbar-width: none !important;
    height: 85% !important;
}

.ql-toolbar .ql-snow {
    padding: 0px !important;
}

.ql-formats .ql-header {
    color: #ffffffdc;
}

.ql-picker-options-12 {
    background-color: #0e3864;
}

.ql-picker-item,
.ql-selected {
    color: black;
}

.ql-snow .ql-stroke {
    stroke: #ffffffdc;
}

.ql-snow .ql-stroke-miter {
    stroke: #ffffffdc;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
    fill: #ffffffdc;
}

.ql-snow .ql-stroke {
    stroke: #ffffffdc;
}
.ql-snow .ql-stroke-miter {
    stroke: #ffffffdc;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
    fill: #ffffffdc;
}
.ql-snow .ql-picker {
    color: "#ffffffdc" !important;
}

.hiddenLineNumberOne > * {
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hiddenLineNumberOne > *:nth-child(1) {
    display: block;
}
